<style>
    .error {
        color: #ff3860;
    }

    label.is-danger {
        color: #ff3860;
    }
</style>

<div class="columns content">
    <div class="column is-half is-offset-one-quarter">
        <h1 class="title">
            <img src="/images/star.svg" alt=""> Reset your password
        </h1>

        <hr>

        {{#unless successmessage}}
            <p>
                Please use the form below to provide your email address. You’ll receive you an email with a link to reset your password.
                <br>
            </p>

            {{#if errormessage}}
                <div class="notification is-danger">
                    {{errormessage}}
                </div>
            {{/if}}

            <form method="POST">
                <input type="hidden" name="keepMeSafeFromCsrf" value="{{keepMeSafeFromCsrf}}">

                <div class="field">
                    <label class="label {{#if errors.email}}is-danger{{/if}}" for="email">
                        {{#if errors.email}} {{errors.email.message}} {{else}}Email address {{/if}}
                    </label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input {{#if errors.email}}is-danger{{/if}}" type="text" placeholder="Your email address" id="email" name="email"
                            value="{{email}}">
                        <span class="icon is-small is-left">
                            <i class="fa fa-user"></i>
                        </span>
                        {{#if errors.email}}
                            <span class="icon is-small is-right">
                                <i class="fa fa-warning"></i>
                            </span>
                        {{/if}}
                    </p>
                    {{#unless email}}
                        <p class="help"></p>
                    {{/unless}}
                </div>

                <button class="button is-primary" type="submit">Send password reset email</button>

            </form>
            {{else}}
                <div class="notification is-success">
                    {{successmessage}}
                </div>
        {{/unless}}

    </div>
</div>