<div class="col-6 offset-3">
    <h1>
        Login
    </h1>

    <hr>

    {{#if errormessage}}
        <p class="error">
            {{errormessage}}
        </p>
    {{/if}}

    <form method="POST">
        <input type="hidden" name="keepMeSafeFromCsrf" value="{{keepMeSafeFromCsrf}}">

        <div class="form-group">
            <label class="label {{#if errors.email}}text-danger{{/if}}" for="email">
                {{#if errors.email}} {{errors.email.message}} {{else}}Email address{{/if}}
            </label>
            <input class="form-control {{#if errors.email}}is-invalid{{else}}{{#if email}}is-valid{{/if}}{{/if}}" type="email" placeholder="Your personal email address" id="email"
                name="email" value="{{email}}">
        </div>

        <div class="form-group">
                <label class="label is-pulled-left {{#if errors.password}}text-danger{{/if}}" for="password">
                    {{#if errors.password}} {{errors.password.message}} {{else}}Password{{/if}}
                </label>

                <input class="form-control {{#if errors.password}}is-invalid{{/if}}" type="password" placeholder="Your password" id="password" name="password">
        </div>

        <button class="btn btn-primary btn-sm" type="submit">Log in</button>
        <a href="/forgot-password" class="btn btn-light float-right">Forgot Password?</a>

    </form>

    <br>

    <hr>

    <div class="text-center text-sm">
        <br>
        <a href="/signup">Create a new account</a>
    </div>

</div>
