<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <div class="card">
        <div class="card-body">

            <h1 class="h4 text-center mt-3 mb-4">
                Reset your password
            </h1>

            {{#if errormessage}}
                <p class="text-danger">
                    {{errormessage}}
                </p>
            {{/if}}

            {{#if errors.email}}
                <div class="alert alert-danger">
                    {{errors.email.message}}
                </div>
            {{/if}}

            {{#if errors.resetToken}}
                <div class="alert alert-danger">
                    {{errors.resetToken.message}}
                </div>
                <p>
                    This may occur due to changed links in the browser. Please click the password reset link in your mail again.
                </p>
                <p>
                    In case you’ve deleted the password reset email, visit the
                    <a href="/forgot-password">forgot password page</a> again and let you send another one.
                </p>
            {{else}}
                <form method="POST" class="mb-3">
                    <input type="hidden" name="keepMeSafeFromCsrf" value="{{keepMeSafeFromCsrf}}">

                    <div class="form-group">
                        <label class="label {{#if errors.password}}text-danger{{/if}}" for="password">
                            {{#if errors.password}} {{errors.password.message}} {{else}}Password {{/if}}
                        </label>
                        <input class="form-control {{#if errors.password}}is-invalid{{/if}}" type="password" placeholder="Your new password" id="password"
                            name="password">
                        </p>
                    </div>

                    <div class="form-group">
                        <label class="label {{#if errors.passwordConfirm}}text-danger{{/if}}" for="passwordConfirm">
                            {{#if errors.passwordConfirm}} {{errors.passwordConfirm.message}} {{else}}Confirm password {{/if}}
                        </label>
                        <input class="form-control {{#if errors.passwordConfirm}}is-invalid{{/if}}" type="password" placeholder="Confirm your new password"
                            id="passwordConfirm" name="passwordConfirm">
                        </p>
                    </div>

                    <button class="btn btn-primary btn-block mt-4" type="submit">Set new password</button>
                </form>
            {{/if}}

        </div>
    </div>
</div>