<style>
    .error {
        color: #ff3860;
    }

    label.is-danger {
        color: #ff3860;
    }
</style>

<div class="columns content">
    <div class="column is-half is-offset-one-quarter">
        <h1 class="title">
            <img src="/images/star.svg" alt=""> Reset your password
        </h1>
        <p class="subtitle">
            Set your new password and confirm it
        </p>

        <hr>

        {{#if errormessage}}
            <p class="error">
                {{errormessage}}
            </p>
        {{/if}}

        {{#if errors.email}}
            <div class="notification is-danger">
                {{errors.email.message}}
            </div>
        {{/if}}

        {{#if errors.resetToken}}
            <div class="notification is-danger">
                {{errors.resetToken.message}}
            </div>
            <p>
                This may occur due to changed links in the browser. Please click the password reset link in your mail again.
            </p>
            <p>
                In case you’ve deleted the password reset email, visit the
                <a href="/forgot-password">forgot password page</a> again and let you send another one.
            </p>
        {{else}}
            <form method="POST">
                <input type="hidden" name="keepMeSafeFromCsrf" value="{{keepMeSafeFromCsrf}}">

                <div class="field">
                    <label class="label {{#if errors.password}}is-danger{{/if}}" for="password">
                        {{#if errors.password}} {{errors.password.message}} {{else}} Password {{/if}}
                    </label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input {{#if errors.password}}is-danger{{/if}}" type="password" placeholder="Your new password" id="password"
                            name="password">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>

                        {{#if errors.password}}
                        <span class="icon is-small is-right">
                            <i class="fa fa-warning"></i>
                        </span>
                        {{/if}}
                    </p>
                </div>

                <div class="field">
                    <label class="label {{#if errors.passwordConfirm}}is-danger{{/if}}" for="passwordConfirm">
                        {{#if errors.passwordConfirm}} {{errors.passwordConfirm.message}} {{else}} Confirm password {{/if}}
                    </label>
                    <p class="control has-icons-left has-icons-right">
                        <input class="input {{#if errors.passwordConfirm}}is-danger{{/if}}" type="password" placeholder="Confirm your new password"
                            id="passwordConfirm" name="passwordConfirm">
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>

                        {{#if errors.passwordConfirm}}
                        <span class="icon is-small is-right">
                            <i class="fa fa-warning"></i>
                        </span>
                        {{/if}}
                    </p>
                </div>

                <button class="button is-primary" type="submit">Set new password</button>
            </form>
        {{/if}}

    </div>
</div>