<div class="columns content">
    <div class="column is-half is-offset-one-quarter">
        <h1 class="title">
            <img src="/images/star.svg" alt=""> Signup
        </h1>
        <p class="subtitle">
            The best way to enjoy movies and series.
        </p>

        <hr>

        <h4 class="title is-4">Create your personal account</h4>

        {{#if errormessage}}
        <hr>
        <p class="error">
            {{errormessage}}
        </p>
        {{/if}}

        <form method="POST">
            <input type="hidden" name="keepMeSafeFromCsrf" value="{{keepMeSafeFromCsrf}}">

            <div class="field">
                <label class="label {{#if errors.email}}is-danger{{/if}}" for="email">
                    {{#if errors.email}} {{errors.email.message}} {{else}} Email address {{/if}}
                </label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input {{#if errors.email}}is-danger{{else}}{{#if
                        email}}is-success{{/if}}{{/if}}" type="email" placeholder="Your personal email address" id="email"
                        name="email" value="{{email}}">
                    <span class="icon is-small is-left">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <span class="icon is-small is-right">
                        {{#if errors.email}}
                        <i class="fa fa-warning"></i>
                        {{else}} {{#if email}}
                        <i class="fa fa-check"></i>
                        {{/if}} {{/if}}
                    </span>
                </p>
                {{#unless email}}
                <p class="help">You’ll receive account related emails. No spam. Promise!</p>
                {{/unless}}
            </div>

            <div class="field">
                <label class="label {{#if errors.password}}is-danger{{/if}}" for="password">
                    {{#if errors.password}} {{errors.password.message}} {{else}} Password {{/if}}
                </label>
                <p class="control has-icons-left has-icons-right">
                    <input class="input {{#if errors.password}}is-danger{{/if}}" type="password" placeholder="Your password" id="password" name="password">
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                    {{#if errors.password}}
                    <span class="icon is-small is-right">
                        <i class="fa fa-warning"></i>
                    </span>
                    {{/if}}
                </p>
            </div>

            <p>
                By clicking on “Create account” below, you are agreeing to the
                <a href="/terms">terms of service</a> and the
                <a href="/privacy">privacy policy</a>.
            </p>
            <hr>

            <input class="button is-primary" type="submit" value="Create account">

        </form>

    </div>
</div>