<div class="col-xs-12 col-md-4">
    {{> user/profile-sidebar}}
</div>

<div class="col-xs-12 col-md-8">
    <div class="card">
        <form method="POST">
            <div class="card-header">
                <div class="card-header-icon">
                    <i class="nav-icon fas fa-user-check text-primary"></i>
                </div>
                Update Your Personal Data
            </div>

            <div class="card-body">
                {{csrf}}

                {{#if successMessage}}
                    <div class="alert alert-success text-md mb-5">
                        {{successMessage}}
                    </div>
                {{/if}}

                <div class="form-group">
                    <label class="label {{#if errors.email}}text-danger{{/if}}" for="email">
                        {{#if errors.email}} {{errors.email}} {{else}}Email Address{{/if}}
                    </label>
                    <input class="form-control {{#if errors.email}}is-invalid{{else}}{{#if
                                 email}}is-valid{{/if}}{{/if}}"
                        type="text" placeholder="Your email address" id="email" name="email" value="{{user.email}}">
                </div>

                <div class="form-group">
                    <label class="label {{#if errors.name}}text-danger{{/if}}" for="name">
                        {{#if errors.name}} {{errors.name}} {{else}}Name{{/if}}
                    </label>
                    <input class="form-control {{#if errors.name}}is-invalid{{else}}{{#if
                                 name}}is-valid{{/if}}{{/if}}"
                        type="text" placeholder="Your name" id="name" name="name" value="{{user.name}}">
                </div>

            </div>

            <div class="card-footer">
                <button class="btn btn-primary" type="submit">Update</button>
            </div>

        </form>
    </div>
</div>
